---
---

@import "{{ site.theme }}";

p.view > a:link {
   display:none;
}

p > small {
   display:none;
}


@media(min-width: 640px) {
   div.wrapper{
      width: 1000px;
   }
   
   section{
      width: 700px;
   }
}
